{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="row header-buffer">
    <div class="col-12"></div>
</div>
{% endblock %}


{% block content %}

<div class="container-fluid bg-white">
    <div class="row">
        <div class="col">
            <h1>Shopping Bag</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table">
{% for item in bag_items %}
<h3>You have booked for {{ item.quantity }} person/people</h3>
<h3>On {{ item.tour.friendly_name }}</h3>
<h3>With a start date of {{ item.date_booked }}
</h3>
{% endfor %}
            </div>
            {% else %}
            <p>Your bag is empty</p>
            <a href="{% url 'tours' %}">Find your next adventure</a>
            {% endif %}
        </div>

        <div class="col">
            <p>Fancy a discount? Add only {{ increase_guests }} more people to get 20% off!</p>
        </div>
    </div>
</div>


{% endblock %}