{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="row header-buffer px-0 mx-0">
    <div class="col-12 px-0 mx-0"></div>
</div>
{% endblock %}


{% block content %}

<div class="container-fluid bg-white">
    <div class="row mx-0 px-0 w-100">
        <div class="col px-2">
            <h1>Shopping Bag</h1>
        </div>
    </div>
    <div class="row mx-0 px-0">
        <div class="col mx-0 px-0">
            {% if bag_items %}
            <table class="table table-striped w-100 mx-0 px-0">
                <thead>
                    <tr class="align-items-center justifty-content-center text-start">
                        <th scope="col" class="summary-th">Tour Summary</th>
                        <th scope="col">Price</th>
                        <th scope="col">Number of Guests</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for item in bag_items %}
                    <tr class="">
                        <td class="px-auto">
                            <div class="row mx-0 px-0 w-100">
                                <div class="col me-2 px-0 w-100">
                                    {% if item.tour.image %}
                                    <img src="/media/{{ item.tour.image }}" alt="{{ item.tour.friendly_name}}"
                                        class="bag-img d-flex">
                                    {% else %}
                                    <img src="/media/noimage.png" alt="placeholder image" class="bag-img d-flex">
                                    {% endif %}
                                </div>
                                <div class="col mx-2 px-0 w-100">
                                    <h3 class="d-flex">{{ item.tour.friendly_name}}</h3>
                                </div>
                            </div>
                            <div class="row mx-0 px-0 w-100 my-1">
                                <div class="col me-2 px-0 d-flex align-items-center"><i
                                        class="fa-solid fa-calendar-days icon"></i>
                                    <h5 class="ms-2">Trip start date</h5>
                                </div>
                            </div>
                            <div class="row mx-0 px-0 w-100">
                                <div class="col me-2 px-0 w-100">
                                    <h6 class="text-capitalize">{{ item.day }} {{ item.month }} {{ item.year }}</h6>
                                </div>
                            </div>
                        </td>
                        <td class="px-auto">
                            <div class="row mx-0 px-0 w-100">
                                <div class="col me-2 px-0 w-100">
                                    <h6>${{ item.tour.price }}</h6>
                                </div>
                            </div>
                        </td>
                        <td class="px-auto">
                            <div class="row mx-0 px-0 w-100">
                                <div class="col me-2 px-0 w-100">
                                    <h6>{{ item.quantity }}{% if item.quantity > 1 %} travellers{% else %}
                                        traveller{% endif %}</h6>
                                </div>
                            </div>
                        </td>
                        <td class="px-auto">
                            <div class="row mx-0 px-0 w-100">
                                <div class="col me-2 px-0 w-100 ">
                                    {% if item.tour.group_discount %}
                                    {% if item.discount %}
                                    <p>Congrats, a discount of ${{ item.discount_amount }} has been applied!</p>
                                    {% else %}
                                    <p>Fancy a discount? Add only {{ increase_guests }} more people to get 20% off!</p>
                                    {% endif %}
                                    {% else %}
                                    <p>Group discount is not available on this tour</p>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <td class="px-auto">
                            <div class="row mx-0 px-0 w-100">
                                <div class="col me-2 px-0 w-100">
                                    {% if item.discount %}
                                    <h5 class="text-muted"><s>${{ item.old_total }}</s></h5>
                                    {% endif %}
                                    <h5>${{ item.total }}</h5>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="pt-5 text-end">
                            <h4>Bag total: ${{ grand_total }}</h4>
                        </td>
                    </tr>
                </tfoot>
            </table>
            {% else %}
            <p>Your bag is empty</p>
            <a href="{% url 'tours' %}">Find your next adventure</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}