{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col hero-img">
            <div class="row centered justify-content-center w-100 text-white m-auto p-auto">
                <div class="col-5 mt-5">
                    <h1 class="px-auto text-center">Send me on <strong>myway</strong></h1>
                    <div class="my-4">
                        <h4 class="px-auto text-center d-none d-md-block">
                            <a href="{% url 'tours' %}" class="btn btn-lg text-white trip-btn border-rounded">See our trips</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}