{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="row header-buffer px-0 mx-0">
    <div class="col-12 px-0 mx-0"></div>
</div>
{% endblock %}


{% block content %}

<div class="container-fluid mt-2 mt-lg-0 bg-white w-100">
    <div class="row mx-0 px-0 w-100">
        <div class="col px-0 px-lg-2 mt-3">
            <h1>My Profile</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4 mb-2">
            <h5>My Information</h5>
            <p>Feel free to edit any of your details below so your <strong class="logo">myway</strong> account is
                totally up to date.</p>
            <form action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-lg btn-checkout border-rounded">Save</button>
            </form>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <h5>My Orders</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Displaying {{ orders.count }} orders</p>
                </div>
            </div>
            {% for order in orders %}
            <div class="wrapper m-2 p-2 border-rounded">
                <div class="row">
                    <div class="col-4">
                        <h4>Order Number: </h4>
                    </div>
                    <div class="col-8">
                        <a href="{% url 'order_history' order.order_number %}"><p class="mb-0">{{ order.order_number }}</p></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>Trips coming up!</h5>
                    </div>
                </div>
                <ul>
                    {% for item in order.orderitems.all %}
                    {% if date_booked_id > todays_date %}
                    <li>
                        {{ item.number_of_guests }} guest{% if item.number_of_guests > 1 %}s{% endif %} for
                        {{ item.tour.friendly_name }} on {{ item.date_of_trip_or_event|title }}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <div class="row">
                    <div class="col">
                        <h5>Trips been on!</h5>
                    </div>
                </div>
                {% for item in order.orderitems.all %}
                {% if todays_date > date_booked_id %}
                <ul>
                    {% for item in order.orderitems.all %}
                    {% if date_booked_id > todays_date %}
                    <li>
                        {{ item.number_of_guests }} guest{% if item.number_of_guests > 1 %}s{% endif %} for
                        {{ item.tour.friendly_name }} on {{ item.date_of_trip_or_event|title }}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
                {% endfor %}
                <div class="row">
                    <div class="col-4">
                        <h5>Total: </h5>
                    </div>
                    <div class="col-8">
                        <p class="mb-0">${{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}


{% block postload_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/countryfield.js' %}">

</script>
{% endblock %}