{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="row header-buffer px-0 mx-0">
    <div class="col-12 px-0 mx-0"></div>
</div>
{% endblock %}


{% block content %}

<div class="container-fluid mt-2 mt-lg-0 bg-white w-100">
    <div class="row mx-0 px-0 w-100">
        <div class="col px-0 px-lg-2 mt-3">
            <h1>My Profile</h1>
        </div>
    </div>
    <hr>
<div class="row">
    <div class="col-4 mb-2">
        <h5>Billing Information</h5>
        <form action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-lg btn-checkout">Save</button>
        </form>
    </div>
    <div class="col-8">
        <h5>Order History</h5>
        {{ orders }}
    </div>
</div>

</div>

{% endblock %}


{% block postload_js %}
    {{ block.super }}
    <script type="text/javascript" src="../../../static/js/countryfield.js">
        
    </script>
{% endblock %}