{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="row header-buffer px-0 mx-0">
    <div class="col-12 px-0 mx-0"></div>
</div>
{% endblock %}


{% block content %}

<div class="container-fluid mt-2 px-0 mt-lg-0 bg-white w-100">
    <div class="row mx-0 px-2 w-100">
        <div class="col px-0 px-lg-2 mt-3">
            <h1>Code of Conduct</h1>
        </div>
    </div>
    <hr>
    <div class="row mx-0 px-2">
        <div class="col-12 col-lg-8 px-2">
            <h4>Your promise as a traveller with myway</h4>
            <p>Travelling with myway is about embracing local cultures, living authentic experiences and making
                life-long friends. However, bringing our travellers on an adventure of a lifetime isn't possible unless
                we all show respect for the places we visit and for one another.</p>
            <p>Whilst we offer freedom on all of our trips, we have a few rules that must be followed:</p>

            <ul>
                <li>Be flexible and understanding of timings and itineraries.</li>
                <li>Respect local customs and cultural values.</li>
                <li>Be polite, kind and respectful to trip managers, trip drivers, locals, fellow travellers and anyone
                    else you might encounter.</li>
                <li>Be aware that certain words or phrases that might be commonplace in your home countries are
                    offensive in others and adapt your language for the situation you are in.</li>
                <li>Leave the place as you found it.</li>
            </ul>

            <h4>Myway has a <strong>Zero Tolerance Policy</strong> to the following acts and reserves the right to
                terminate your trip on the grounds of the following behaviour:</h4>
            <ul>
                <li>
                    Drugs: Possession and use of recreational drugs and illegal substances at myway-associated
                    properties and on our coaches and other private transport is strictly prohibited and will result in
                    the immediate removal from trip.</li>
                <li>
                    Alcohol: Excess alcohol consumption that puts travellers and crew at risk is grounds for removal
                    from the trip. Please drink responsibly and look after yourself.</li>
                <li>
                    Abusive behaviour: Under no circumstances will physical violence of any type be tolerated on our
                    trips or within any myway-associated facility.</li>
                <li>
                    Verbal Abuse: myway will not tolerate travellers that use abusive language or make gestures that
                    could be disrespectful or threatening. Inappropriate conduct that affects those around you, whether
                    a fellow traveller, myway representative or business partner is unacceptable.</li>
            </ul>
        </div>
        <div class="col-lg-4 d-none d-lg-block cc-img border-rounded"></div>
    </div>
    <div class="row mx-0 px-2">
        <div class="col-12 px-2">
            <h5>Any threats to safety, well-being or inappropriate behaviour may lead to the immediate termination
                of a traveller's trip. Travellers removed from a trip for failure to comply to the Myway Traveller Code
                of Conduct are responsible for repatriation and related costs and have no claims against myway.</h5>
        </div>
    </div>
    <div class="row mx-0 my-1 px-2">
        <div class="px-auto col-12 col-md-4 col-lg-2">
            <a href="{% url 'tours' %}" class="btn btn-lg btn-checkout border-rounded">See our
                trips</a>
        </div>
    </div>

</div>


{% endblock %}