{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="row header-buffer px-0 mx-0">
    <div class="col-12 px-0 mx-0"></div>
</div>
{% endblock %}


{% block content %}

<div class="container-fluid mt-2 px-0 mt-lg-0 bg-white w-100">
    <div class="row mx-0 px-2 w-100">
        <div class="col px-0 px-lg-2 mt-3">
            <h1>Destinations</h1>
        </div>
    </div>
    <hr>
    <div class="row mx-0 px-2">
        <div class="col-12 col-lg-8 px-0">
            <h4>Our current destinations</h4>
            <p>We take pride in knowing we offer a tour for everyone!</p>
            <p>We currently offer tours to the following destinations</p>
            <ul>
                {% for location in locations %}
                <li>{% if location.friendly_name %}{{ location.friendly_name }}{% else %}{{ location.name }}{% endif %},
                    {{ location.country }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row mx-0 my-1 px-2">
        <div class="px-auto col-12 col-md-4 col-lg-2">
            <a href="{% url 'tours' %}" class="btn btn-lg btn-checkout border-rounded">See our
                trips</a>
        </div>
    </div>


    {% endblock %}