{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="row header-buffer px-0 mx-0">
    <div class="col-12 px-0 mx-0"></div>
</div>
{% endblock %}


{% block content %}

<div class="container-fluid mt-2 mt-lg-0 bg-white w-100">
    <div class="row mx-0 px-0 w-100">
        <div class="col px-0 px-lg-2 mt-3">
            <h1>Booking Conirmed!</h1>
        </div>
    </div>
    <hr>
    <div class="row px-2">
        <div class="col px-2">
            <h4>Time to pack your bags and we'll send you on yourway!</h4>
            <p>Thank you for booking with myway, your booking information can be found below</p>
            <p>A confirmation email has be sent to {{ order.email }}</p>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-9">
            <div class="wrapper p-2 border-rounded">
                <div class="row mx-2">
                    <div class="col">
                        <h5 class="mb-0 mt-2">Booking Information:</h5>
                    </div>
                </div>
                <div class="row mx-2">
                    <div class="col-12 col-md-4">
                        <p class="mb-0">Order Number:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.order_number }}</p>
                    </div>
                </div>
                <div class="row mx-2">
                    <div class="col-12 col-md-4">
                        <p class="mb-0">Order Date:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.date }}</p>
                    </div>
                </div>
                <div class="row mx-2">
                    <div class="col">
                        <h5 class="mb-0 mt-2">Booking Details:</h5>
                    </div>
                </div>
                {% for item in order.orderitems.all %}
                <div class="row mx-2">
                    <div class="col-12 col-md-4">
                        <p class="mb-0">{{ item.tour.friendly_name }} on {{ item.date_of_trip_or_event|title }}: </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ item.number_of_guests }} guest{% if item.number_of_guests > 1 %}s{% endif %} at ${{ item.tour.price }} each</p>
                    </div>
                </div>
                {% endfor %}
                <div class="row mx-2">
                    <div class="col">
                        <h5 class="mb-0 mt-2">Lead Guest Details:</h5>
                    </div>
                </div>
                <div class="row mx-2">
                    <div class="col-12 col-md-4">
                        <p class="mb-0">Full Name:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.name }}</p>
                    </div>
                </div>
                <div class="row mx-2">
                    <div class="col-12 col-md-4">
                        <p class="mb-0">Email:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.email }}</p>
                    </div>
                </div>
                <div class="row mx-2">
                    <div class="col-12 col-md-4">
                        <p class="mb-0">Phone Number:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.phone_number }}</p>
                    </div>
                </div>
                <div class="row mx-2">
                    <div class="col">
                        <h5 class="mb-0 mt-2">Billing information:</h5>
                    </div>
                </div>
                <div class="row mx-2">
                    <div class="col-12 col-md-4">
                        <p class="mb-0">Tour total:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">${{ order.product_total }}</p>
                    </div>
                </div>
                <div class="row mx-2">
                    <div class="col-12 col-md-4">
                        <p class="mb-0">Discount:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">-${{ order.total_discount }}</p>
                    </div>
                </div>
                <div class="row mx-2">
                    <div class="col-12 col-md-4">
                        <p class="mb-0">Total:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">${{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


{% endblock %}