* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #bcc8d1;
}

.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../../media/girls-on-wooden-bridge.JPG');
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar {
    background-color: #fff;
}

.nav-list {
    color: #da0000;
}

.nav-list:hover {
    color: #49323b;
}

.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25vh;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.mobile-list {
    list-style: none;
    margin: 1rem 1rem 0;
}

.tour-list-img {
    background-image: url('../../media/mountains_and_reflective_lake.jpg');
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 4rem;
}

.tour-list {
    background-color: #fff;
    border-radius: 10px;
    color: #3a6700;
}

.overlay {
    background-color: rgba(0,0,0, 0.3);
    border-radius: 10px;
}

.tour-btn {
    color: #da0000;
    border-color: #da0000;
    border-radius: 10px;
}

.tour-btn:hover {
    color: #3a6700;
    border-color: #3a6700;
}

@media screen and (min-width: 426px) {

    .hero-img,
    .tour-list-img {
        height: 80vh;
    }
}

@media screen and (min-width: 770px) {

    .hero-img,
    .tour-list-img {
        height: 100vh;
    }
}