<div class="row w-100 align-items-center d-none d-lg-flex mx-auto px-auto" id="main-nav">
    <div class="col-1 text-center justify-content-center">
        <a href="#" class="navbar-brand nav-list px-auto mx-auto"><i class="fa-solid fa-envelope"></i></a>
    </div>
    <div class="col-3 text-center justify-content-center">
        <a href="#" class="navbar-brand nav-list px-auto mx-auto"><i class="fa-solid fa-phone"></i> +1 234 567 8910</a>
    </div>
    <div class="col-3 text-center">
        <a class="navbar-brand nav-list px-auto mx-auto" href="{% url 'homepage' %}">
            <h2 class=""><strong>myway</strong></h2>
        </a>
    </div>
    <div class="col-2 text-center justify-content-center">
        <div class="nav-item dropdown">
            <a class="navbar-brand dropdown-toggle nav-list px-auto mx-auto" href="{% url 'tours' %}" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">Tours</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'tour_detail' 3 %}">Greek Island Hopping</a></li>
                <li><a class="dropdown-item" href="#">Name of a different tour</a></li>
                <li><a class="dropdown-item" href="#">Third tour available</a></li>
                <li><a href="{% url 'tours' %}" class="dropdown-item">See all tours!</a></li>
            </ul>
        </div>
    </div>
    <div class="col-1 text-center justify-content-center">
        <div class="nav-item dropdown">
            <a class="px-auto mx-auto navbar-brand nav-list dropdown-toggle" href="" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">Account
            </a>
            <ul class="dropdown-menu">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <li><a class="dropdown-item" href="{% url 'site_management' %}">Site Management</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'profile' %}">My Account</a></li>
                <li><a class="dropdown-item" href="#">My Orders</a></li>
                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sign-up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-2 text-center justify-content-center">
        <div class="nav-item dropdown">
            <a class="nav-link nav-list bag-link" href="{% url 'view_bag' %}" role="button"
                aria-expanded="false">
                <div>
                    <div><i class="fa-solid fa-basket-shopping icon"></i>
                    </div>
                    <p class="my-0"> {% if grand_total %}
                        ${{ grand_total }}
                        {% else %}
                        $0.00
                        {% endif %}</p>
                </div>
            </a>
            <ul class="dropdown-menu me-5 bag-list">
                <li class="dropdown-item bag-item">
                    {% if grand_total %}
                    <h6>My Bag, {{ product_count }} {% if product_count == 1 %}item{% else %}items{% endif %}</h6>
                    <div class="bag-preview">
                        {% for item in bag_items %}
                        <div class="row">
                            <div class="col">
                                <img src="{{ MEDIA_URL }}{{ item.tour.image }}" alt="{{ item.tour.image }}"
                                    class="img border-rounded">
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col">
                                        <h6>${{ item.tour.price }}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>{{ item.tour.friendly_name }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p class="text-capitalize">{{ item.day }} {{ item.month }} {{ item.year }}</p>
                                    </div>
                                    <div class="col">
                                        <p> Qty: {{ item.quantity }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                    <hr class="bag-item-divider">
                    <div class="row mt-3">
                        <div class="col text-end">
                            <h5>Bag total: ${{ grand_total }}</h5>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col text-center">
                            <a href="{% url 'view_bag' %}" class="btn btn-lg btn-view-bag border-rounded">View bag</a>
                        </div>
                        <div class="col text-center">
                            <a href="{% url 'checkout' %}" class="btn btn-lg btn-checkout border-rounded">Checkout</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col">
                            <p>Your bag is empty</p>
                            <a href="{% url 'tours' %}" class="btn btn-checkout border-rounded">Find your next adventure</a>
                        </div>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>