<div class="row w-100 d-flex d-lg-none m-auto p-auto align-items-center" id="mobile-nav">
    <div class="col-2">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="col-4 text-center mx-auto justify-content-center">
        <ul class="navbar-nav me-auto mb-2">
            <li class="nav-item dropdown">
                <a class="nav-link nav-list px-auto mx-auto" href="" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <div>
                        <div class="icon"><i class="fa-solid fa-user"></i>
                        </div>
                        <p class="my-0">Account</p>
                    </div>
                </a>
                <ul class="dropdown-menu position-absolute">
                    {% if request.user.is_authenticated %}
                    <li><a class="dropdown-item" href="#">My Account</a></li>
                    <li><a class="dropdown-item" href="#">My Orders</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sign-up</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-4 text-center mx-auto justify-content-center">
        <a class="nav-link nav-list px-auto mx-auto" href="" role="button" aria-expanded="false">
            <div class="icon"><i class="fa-solid fa-basket-shopping"></i>
            </div>
            <p class="my-0"> {% if grand_total %}
                ${{ grand_total|floatformat:2 }}
                {% else %}
                $0.00
                {% endif %}</p>
        </a>
    </div>
    <div class="col text-center collapse navbar-collapse justify-content-center"
        id="navbarSupportedContent">
        <ul class="text-start px-0">
            <li class="mobile-list">
                <a href="#" class="navbar-brand nav-list px-auto mx-auto">
                    <i class="fa-solid fa-envelope"></i>
                    Email
                </a>
            </li>
            <li class="mobile-list">
                <a href="#" class="navbar-brand nav-list px-auto mx-auto">
                    <i class="fa-solid fa-phone"></i>
                    +1 234 567 8910
                </a>
            </li>
            <li class="nav-item dropdown mobile-list">
                <a class="navbar-brand dropdown-toggle nav-list px-auto mx-auto" href="#" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-map"></i> Tours</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Name of tour</a></li>
                    <li><a class="dropdown-item" href="#">Name of a different tour</a></li>
                    <li><a class="dropdown-item" href="#">Third tour available</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>