<div class="row w-100 d-flex d-lg-none m-auto p-auto align-items-center" id="mobile-nav">
    <div class="col-2">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="col-7 text-center pe-0 ms-auto justify-content-center">
        <ul class="navbar-nav my-auto">
            <li>
                <a class="navbar-brand nav-list px-auto mx-auto" href="{% url 'homepage' %}">
                    <h2 class=""><strong>myway</strong></h2>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-3 text-center mx-auto justify-content-center">
        <a class="nav-link nav-list px-auto mx-auto" href="{% url 'view_bag' %}" role="button" aria-expanded="false">
            <div class="icon"><i class="fa-solid fa-basket-shopping"></i>
            </div>
            <p class="my-0"> {% if grand_total %}
                ${{ grand_total|floatformat:2 }}
                {% else %}
                $0.00
                {% endif %}</p>
        </a>
    </div>
    <div class="col-4 text-center collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="text-start px-0">
            <li class="mobile-list dropdown nav-item">
                <a class="nav-link navbar-brand dropdown-toggle nav-list px-auto mx-auto" href="" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fa-solid fa-user"></i>
                    Account
                </a>
                <ul class="dropdown-menu position-absolute">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <li><a class="dropdown-item" href="{% url 'site_management' %}">Site Management</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'profile' %}">My Account</a></li>
                    <li><a class="dropdown-item" href="#">My Orders</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sign-up</a></li>
                    {% endif %}
                </ul>
            </li>
            <li class="mobile-list">
                <a href="#" class="navbar-brand nav-list px-auto mx-auto">
                    <i class="fa-solid fa-envelope"></i>
                    Email
                </a>
            </li>
            <li class="mobile-list">
                <a href="tel:+1234-567-8910" class="navbar-brand nav-list px-auto mx-auto">
                    <i class="fa-solid fa-phone"></i>
                    +1 234 567 8910
                </a>
            </li>
            <li class="nav-item dropdown mobile-list">
                <a class="navbar-brand dropdown-toggle nav-list px-auto mx-auto" href="{% url 'tours' %}" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-map"></i> Tours</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'tour_detail' 3 %}">Greek Island Hopping</a></li>
                    <li><a class="dropdown-item" href="{% url 'tour_detail' 2 %}">Mountain Conqueror</a></li>
                    <li><a class="dropdown-item" href="{% url 'tour_detail' 7 %}">Wine Not?</a></li>
                    <li><a href="{% url 'tours' %}" class="dropdown-item">See all tours!</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>