<table class="table w-100 mx-0 px-0 d-none d-lg-block">
    <thead>
        <tr class="align-items-center justifty-content-center text-start">
            <th scope="col" class="summary-th">Tour Summary</th>
            <th scope="col">Price</th>
            <th scope="col">Number of Guests</th>
            <th scope="col">Discount</th>
            <th scope="col">Subtotal</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for item in bag_items %}
        <tr>
            <td class="px-auto">
                <div class="row mx-0 px-0 w-100">
                    <div class="col-6 me-2 px-0 w-100">
                        {% if item.tour.image %}
                        <img src="/media/{{ item.tour.image }}" alt="{{ item.tour.friendly_name}}"
                            class="bag-img d-flex">
                        {% else %}
                        <img src="/media/noimage.png" alt="placeholder image" class="bag-img d-flex">
                        {% endif %}
                    </div>
                    <div class="col  my-2 mx-0 px-0 w-100">
                        <h3 class="d-flex">{{ item.tour.friendly_name}}</h3>
                    </div>
                </div>
                <div class="row mx-0 px-0 w-100 my-1">
                    <div class="col me-2 px-0 d-flex align-items-center"><i class="fa-solid fa-calendar-days icon"></i>
                        <h5 class="ms-2 text-uppercase">Trip start</h5>
                    </div>
                </div>
                <div class="row mx-0 px-0 w-100">
                    <div class="col me-2 px-0 w-100">
                        <h6 class="text-capitalize">{{ item.day }} {{ item.month }} {{ item.year }}</h6>
                    </div>
                </div>
            </td>
            <td class="px-auto">
                <div class="row mx-0 px-0 w-100">
                    <div class="col me-2 px-0 w-100">
                        <h6>${{ item.tour.price }}</h6>
                    </div>
                </div>
            </td>
            <td class="px-auto w-25">
                <form class="update-form" action="{% url 'edit_bag' item.tour_id %}" method="POST" id="bag-form">
                    {% csrf_token %}
                    <div class="row mx-0 px-0 w-100 form-group quantity-input-group">
                        <div class="col me-2 px-0 w-100 input-group align-items-center">
                            <div class="input-group-prepend">
                                <button class="decrease-qty btn btn-sm tour-btn mx-1"
                                    data-item_id="{{ item.bag_item_id }}" data-tour_max="{{ item.tour.max_num_of_guests }}" id="decrease-qty_{{ item.bag_item_id }}"
                                    type="button"
                                    
                                    {% if item.quantity == 1 %}disabled="disabled" {% endif %}>
                                    <span class="icon">
                                        <i class="fa-solid fa-minus"></i>
                                    </span>
                                </button>
                            </div>
                            <input class="form-control text-center quantity-input quantity-input-bag ps-3 mx-0 pe-0"
                                type="number" name="quantity" value="{{ item.quantity }}" min="1"
                                max="{{ item.tour.max_num_of_guests }}" data-item_id="{{ item.bag_item_id }}"
                                id="id_qty_{{ item.bag_item_id }}"
                                onchange="handleEnableDisable('{{ item.bag_item_id }}', '{{ item.tour.max_num_of_guests }}')"
                                >
                            <h6 class="my-0 me-1">{% if item.quantity > 1 %} travellers{% else %}
                                traveller{% endif %}</h6>
                            <div class="input-group-append">
                                <button class="btn btn-sm tour-btn mx-1 increase-qty"
                                    data-item_id="{{ item.bag_item_id }}" data-tour_max="{{ item.tour.max_num_of_guests }}" id="increase-qty_{{ item.bag_item_id }}"
                                    type="button"
                                    {% if item.quantity == item.tour.max_num_of_guests %}disabled="disabled"
                                    {% endif %}>
                                    <span class="icon">
                                        <i class="fa-solid fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="bag_item_id" value="{{ item.bag_item_id}}">
                </form>
                <div class="row">
                    <div class="col"> <a class="update-link bag-change" id="remove_{{ item.tour_id }}" data-bag_item_id="{{ item.bag_item_id}}"><small>Update</small></a>
                    </div>
                    <div class="col text-end"> <a class="remove-item bag-change"
                            id="remove_{{ item.tour_id }}" data-bag_item_id="{{ item.bag_item_id}}"><small>Remove</small></a>
                    </div>
                </div>
            </td>
            <td class="px-auto">
                <div class="row mx-0 px-0 w-100">
                    <div class="col me-2 px-0 w-100 ">
                        {% if item.tour.group_discount %}
                        {% if item.discount %}
                        <p>Congrats, a discount of ${{ item.discount_amount }} has been applied!</p>
                        {% else %}
                        <p>Fancy a discount? Add only {{ increase_guests }} more people to get 20% off!</p>
                        {% endif %}
                        {% else %}
                        <p>Group discount is not available on this tour</p>
                        {% endif %}
                    </div>
                </div>
            </td>
            <td class="px-auto">
                <div class="row mx-0 px-0 w-100">
                    <div class="col me-2 px-0 w-100">
                        {% if item.discount %}
                        <h5 class="text-muted"><s>${{ item.old_total }}</s></h5>
                        {% endif %}
                        <h5>${{ item.total }}</h5>
                    </div>
                </div>
            </td>
        </tr>
        {% if item.tour.choose_location %}
        <tr>
            <td colspan="5" class="text-end">
                <form action="#" method="POST">
                    {% if item.tour.choose_multiple_locations %}
                    <h4>Please select your locations to visit:</h4>
                    {% for location in item.tour.locations.all %}
                    <label for="{{ location }}">{{ location.friendly_name }}</label>
                    <input type="checkbox" id="{{ location }}" value="{{ location }}">
                    {% endfor %}
                    {% else %}
                    <h4>Please select your destination:</h4>
                    <label for="location">Choose a location:</label>
                    <select id="location" name="location">
                        {% for location in item.tour.locations.all %}
                        <option value="{{ location }}">{{ location.friendly_name }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="pt-5 text-end">
                <h4>Bag total: ${{ grand_total }}</h4>
            </td>
        </tr>
    </tfoot>
</table>