<div class="row d-lg-none">
    <div class="col">
        {% for item in bag_items %}
        <div class="row">
            <div class="col">
                <h2>Tour Summary</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if item.tour.image %}
                <img src="/media/{{ item.tour.image }}" alt="{{ item.tour.friendly_name}}" class="bag-img d-flex">
                {% else %}
                <img src="/media/noimage.png" alt="placeholder image" class="bag-img d-flex">
                {% endif %}</div>
            <div class="col">
                <h4 class="d-flex">{{ item.tour.friendly_name}}</h4>
            </div>
        </div>
        <div class="row mx-0 px-0 w-100 my-1">
            <div class="col me-2 px-0 d-flex align-items-center"><i class="fa-solid fa-calendar-days icon"></i>
                <h6 class="ms-2 text-uppercase">Trip start</h6>
            </div>
        </div>
        <div class="row mx-0 px-0 w-100">
            <div class="col me-2 px-0 w-100">
                <h6 class="text-capitalize">{{ item.day }} {{ item.month }} {{ item.year }}</h6>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h4>Trip</h4>
            </div>
            <div class="col text-end">
                <h6><i class="fa-solid fa-user-group icon"></i> {{ item.quantity }}{% if item.quantity > 1 %}
                    travellers{% else %}
                    traveller{% endif %}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col text-end">{{ item.quantity }} x ${{ item.tour.price }}</div>
        </div>
        <div class="row">
            <div class="col text-end">{% if item.tour.group_discount %}
                {% if item.discount %}
                <p>Congrats, a discount of ${{ item.discount_amount }} has been applied!</p>
                {% else %}
                <p>Fancy a discount? Add only {{ increase_guests }} more people to get 20% off!</p>
                {% endif %}
                {% else %}
                <p>Group discount is not available on this tour</p>
                {% endif %}</div>
        </div>
        <hr>
        {% if item.tour.choose_location %}
        <div class="row">
            <div class="col">
                <form action="#" method="POST">
                    {% if item.tour.choose_multiple_locations %}
                    <h4>Please select your locations to visit:</h4>
                    {% for location in item.tour.locations.all %}
                    <label for="{{ location }}">{{ location.friendly_name }}</label>
                    <input type="checkbox" id="{{ location }}" value="{{ location }}">
                    {% endfor %}
                    {% else %}
                    <h4>Please sleect your destination:</h4>
                    <label for="location">Choose a location:</label>
                    <select id="location" name="location">
                        {% for location in item.tour.locations.all %}
                        <option value="{{ location }}">{{ location.friendly_name }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </form>
            </div>
        </div>
        <hr>
        {% endif %}
        <div class="row">
            <div class="col">
                <h3>Subtotal:</h3>
            </div>
            <div class="col text-end">
                <h3>${{ item.total }}</h3>
            </div>
        </div>
        <hr class="bag-item-divider">
        {% endfor %}
        <div class="row">
            <div class="col pt-2 text-end">
                <h2>Bag total: ${{ grand_total }}</h2>
            </div>
        </div>
    </div>
</div>