<div class="row d-lg-none">
    <div class="col">
        <hr class="bag-item-divider">
        {% for item in bag_items %}
        <div class="row">
            <div class="col">
                {% if item.tour.image %}
                <img src="{{ MEDIA_URL }}{{ item.tour.image }}" alt="{{ item.tour.friendly_name}}"
                    class="img border-rounded d-flex">
                {% else %}
                <img src="{{ MEDIA_URL }}noimage.png" alt="placeholder image" class="img border-rounded d-flex">
                {% endif %}</div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h4 class="d-flex">{{ item.tour.friendly_name}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex align-items-center"><i class="fa-solid fa-calendar-days icon"></i>
                        <h6 class="ms-1 text-uppercase">Trip start</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex">
                        <h6 class="text-capitalize">{{ item.day }} {{ item.month }} {{ item.year }}</h6>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h4>Trip</h4>
            </div>
        </div>
        <div class="row">
            <div class="col text-end">{{ item.quantity }} x ${{ item.tour.price }}</div>
        </div>
        <div class="row">
            <div class="col text-end">{% if item.tour.group_discount %}
                {% if item.discount %}
                <p>Congrats, a discount of ${{ item.discount_amount }} has been applied!</p>
                {% else %}
                <p>Fancy a discount? Add only {{ increase_guests }} more people to get 20% off!</p>
                {% endif %}
                {% else %}
                <p>Group discount is not available on this tour</p>
                {% endif %}</div>
        </div>
        <div class="row">
            <div class="col text-end"> <a class="remove-item bag-change" id="remove_{{ item.tour_id }}"
                    data-bag_item_id="{{ item.bag_item_id}}"><small>Remove</small></a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h3>Subtotal:</h3>
            </div>
            <div class="col text-end">
                <h3>${{ item.total }}</h3>
            </div>
        </div>
        <hr class="bag-item-divider">
        {% endfor %}
        <div class="row">
            <div class="col pt-2 text-end">
                <h2>Bag total: ${{ grand_total }}</h2>
            </div>
        </div>
    </div>
</div>