{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="row header-buffer px-0 mx-0">
    <div class="col-12 px-0 mx-0"></div>
</div>
{% endblock %}


{% block content %}

<div class="container-fluid mt-2 mt-lg-0 bg-white w-100">
    <div class="row mx-0 px-0 w-100">
        <div class="col px-0 px-lg-2 mt-3">
            <h1>Site Management</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-8 px-0 px-lg-3 mt-3">
            <p>Welcome to myway's site management page, from here you have complete control over your store. Please
                select one of the options below.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <ul>
                <li class="list-unstyled my-1"><a href="{% url 'add_tour' %}" class="btn btn-lg btn-checkout">Add a
                        Tour</a></li>
                <li class="list-unstyled my-2">
                    <div class="edit-tour dropdown btn btn-lg btn-checkout text-black">
                        <a class="px-auto mx-auto dropdown-toggle text-decoration-none text-white tour-mods" href="" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Edit Tour
                        </a>
                        <ul class="dropdown-menu">
                            {% for tour in tours %}
                            <li><a class="dropdown-item"
                                    href="{% url 'edit_tour' tour.id %}">{{ tour.friendly_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="list-unstyled my-1">
                    <div class="delete-tour dropdown btn btn-lg btn-checkout">
                        <a class="px-auto mx-auto dropdown-toggle text-decoration-none text-white tour-mods" href="" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Delete Tour
                        </a>
                        <ul class="dropdown-menu">
                            {% for tour in tours %}
                            <li><a class="dropdown-item"
                                    href="{% url 'delete_tour' tour.id %}">{{ tour.friendly_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <ul>
                <li class="list-unstyled"><a href="#" class="btn btn-lg btn-checkout my-1">Add a Location</a></li>
                <li class="list-unstyled"><a href="" class="btn btn-lg btn-checkout my-1">Edit a Location</a></li>
                <li class="list-unstyled"><a href="" class="btn btn-lg btn-checkout my-1">Delete a Location</a></li>
            </ul>
        </div>
        <div class="col-3">
            <ul>
                <li class="list-unstyled"><a href="#" class="btn btn-lg btn-checkout my-1">Add an Add-on</a></li>
                <li class="list-unstyled"><a href="" class="btn btn-lg btn-checkout my-1">Edit an Add-on</a></li>
                <li class="list-unstyled"><a href="" class="btn btn-lg btn-checkout my-1">Delete an Add-on</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}