{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid m-0 p-0">
    <div class="row mt-5 mx-0">
        <div class="col-12 mt-4 pt-3 pt-lg-2 px-0">
            <div class="row price-md mx-0 px-0">
                <div class="col col-md-6">
                    <div class="row">
                        <div class="col px-3">Rating</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h1>{{ tour.friendly_name }}</h1>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-flex col-md-3 align-items-center justify-content-end px-0">From
                    <strong>${{ tour.price }}</strong></div>
                <div class="d-none d-md-flex col-md-3 align-items-center text-center justify-content-center px-0">
                    <a class="btn tour-btn" href="#dates" onclick="openTab(event, 'dates')">View Dates</a>
                </div>
            </div>
            <div class="tab px-0 mx-0 row">
                <div class="col-4">
                    <button class="tablinks" onclick="openTab(event, 'the-trip')" id="defaultOpen">The Trip</button>
                </div>
                <div class="col-4">
                    <button class="tablinks" onclick="openTab(event, 'dates')">Dates</button>
                </div>
                <!-- <button class="tablinks" onclick="openTab(event, 'Tokyo')">Reviews</button> -->
            </div>
            <div class="row mx-0 px-0">
                <div id="the-trip" class="tabcontent mx-0 px-0 col-12">
                    <div class="row mt-2 mx-0 px-0">
                        <div class="col col-lg-5">
                            {% if tour.image %}
                            <img class="tour-detail-img" src="/media/{{ tour.image }}" alt="{{ tour.name }}">
                            {% else %}
                            <img class="tour-detail-img" src="/media/noimage.png" alt="placeholder image">
                            {% endif %}
                        </div>
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="row my-2">
                                <div class="col">
                                    <h3>{{ tour.description }}</h3>
                                </div>
                            </div>
                            <div class="row">
                                {% if tour.accomodation %}
                                <div class="col-6">
                                    <h5><i class="fa-solid fa-bed"></i> Accomodation</h5>
                                    <p>{{ tour.accomodation }} nights in Hotels</p>
                                </div>
                                {% endif %}
                                {% if tour.num_of_dinner or tour.num_of_breakfast %}
                                <div class="col-6">
                                    <h5><i class="fa-solid fa-utensils"></i> Meals</h5>
                                    {% if tour.num_of_breakfast %}<p>{{ tour.num_of_breakfast}} breakfasts</p>
                                    {% endif %}
                                    {% if tour.num_of_dinner %}<p>{{ tour.num_of_dinner}} dinners</p>{% endif %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <h5><i class="fa-solid fa-bus-simple"></i> Transport</h5>
                                    <p>{{ tour.transport }}</p>
                                </div>
                                <div class="col-6">
                                    <h5><i class="fa-solid fa-people-group"></i> Max Group Size</h5>
                                    <p>{{ tour.max_num_of_guests }} people</p>
                                </div>
                            </div>
                            {% if tour.group_discount %}
                            <div class="row">
                                <div class="col">
                                    <h5>Group discount available!</h5>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row my-2 d-lg-none mx-0 px-0">
                        <div class="col">
                            <h3>{{ tour.description }}</h3>
                        </div>
                    </div>
                    <div class="row my-2 mx-0 px-0">
                        <div class="col">
                            <p>{{ tour.itinerary }}</p>
                        </div>
                    </div>
                    {% if group_discount %}
                    <div class="row d-lg-none">
                        <div class="col">
                            <p>Group discount available!</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row d-lg-none w-100 mx-0 px-0">
                        {% if tour.accomodation %}
                        <div class="col-6">
                            <h5><i class="fa-solid fa-bed"></i> Accomodation</h5>
                            <p>{{ tour.accomodation }} nights in Hotels</p>
                        </div>
                        {% endif %}
                        {% if tour.num_of_dinner or tour.num_of_breakfast %}
                        <div class="col-6">
                            <h5><i class="fa-solid fa-utensils"></i> Meals</h5>
                            {% if tour.num_of_breakfast %}<p>{{ tour.num_of_breakfast}} breakfasts</p>{% endif %}
                            {% if tour.num_of_dinner %}<p>{{ tour.num_of_dinner}} dinners</p>{% endif %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="row d-lg-none w-100 mx-0 px-0">
                        <div class="col-6">
                            <h5><i class="fa-solid fa-bus-simple"></i> Transport</h5>
                            <p>{{ tour.transport }}</p>
                        </div>
                        <div class="col-6">
                            <h5><i class="fa-solid fa-people-group"></i> Max Group Size</h5>
                            <p>{{ tour.max_num_of_guests }} people</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0 px-0">
                <div id="dates" class="tabcontent col-12 justify-content-center align-items-center text-center">
                    <button class="yearlinks col-2 px-auto btn btn-lg btn-dates" onclick="openYear(event, '2023')">2023</button>
                    <button class="yearlinks col-2 px-auto btn btn-lg btn-dates" onclick="openYear(event, '2024')">2024</button>
                    <div id="2023" class="yearcontent">
                        {% for month in tour.dates.all %}
                        <button class="monthlinks px-auto btn-lg btn btn-dates"
                            onclick="openMonth(event, '{{ month.name }} 2023')">{{ month.name }}</button>
                        {% endfor %}
                        {% for month in tour.dates.all %}
                        {% if month.name == 'Jan' or month.name == 'Mar' or month.name == 'May' or month.name == 'Jul' or month.name == 'Aug' or month.name == 'Oct' or month.name == 'Dec' %}
                        <span id="{{ month.name }} 2023" class="monthcontent">
                            <form action="#">
                                <ul class="month-list">
                                    <li>
                                        <input type="radio" id="1">
                                        <label for="1">1st</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="2">
                                        <label for="2">2nd</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="3">
                                        <label for="3">3rd</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="4">
                                        <label for="4">4th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="5">
                                        <label for="5">5th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="6">
                                        <label for="6">6th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="7">
                                        <label for="7">7th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="8">
                                        <label for="8">8th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="9">
                                        <label for="9">9th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="10">
                                        <label for="10">10th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="11">
                                        <label for="11">11th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="12">
                                        <label for="12">12th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="13">
                                        <label for="13">13th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="14">
                                        <label for="14">14th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="15">
                                        <label for="15">15th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="16">
                                        <label for="16">16th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="17">
                                        <label for="17">17th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="18">
                                        <label for="18">18th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="19">
                                        <label for="19">19th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="20">
                                        <label for="20">20th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="21">
                                        <label for="21">21st</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="22">
                                        <label for="22">22th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="23">
                                        <label for="23">23th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="24">
                                        <label for="24">24th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="25">
                                        <label for="25">25th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="26">
                                        <label for="27">27th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="27">
                                        <label for="20">20th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="28">
                                        <label for="28">28th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="29">
                                        <label for="29">29th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="30">
                                        <label for="30">30th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="31">
                                        <label for="31">31st</label>
                                    </li>
                                </ul>
                            </form>
                        </span>
                        {% elif month.name == 'Apr' or month.name == 'Jun' or month.name == 'Sep' or month.name == 'Nov' %}
                        <span id="{{ month.name }} 2023" class="monthcontent">
                            <form action="#">
                                <ul class="month-list">
                                    <li>
                                        <input type="radio" id="1">
                                        <label for="1">1st</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="2">
                                        <label for="2">2nd</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="3">
                                        <label for="3">3rd</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="4">
                                        <label for="4">4th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="5">
                                        <label for="5">5th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="6">
                                        <label for="6">6th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="7">
                                        <label for="7">7th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="8">
                                        <label for="8">8th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="9">
                                        <label for="9">9th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="10">
                                        <label for="10">10th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="11">
                                        <label for="11">11th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="12">
                                        <label for="12">12th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="13">
                                        <label for="13">13th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="14">
                                        <label for="14">14th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="15">
                                        <label for="15">15th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="16">
                                        <label for="16">16th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="17">
                                        <label for="17">17th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="18">
                                        <label for="18">18th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="19">
                                        <label for="19">19th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="20">
                                        <label for="20">20th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="21">
                                        <label for="21">21st</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="22">
                                        <label for="22">22th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="23">
                                        <label for="23">23th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="24">
                                        <label for="24">24th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="25">
                                        <label for="25">25th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="26">
                                        <label for="27">27th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="27">
                                        <label for="20">20th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="28">
                                        <label for="28">28th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="29">
                                        <label for="29">29th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="30">
                                        <label for="30">30th</label>
                                    </li>
                                </ul>
                            </form>
                        </span>
                        {% elif month.name == 'Feb' %}
                        <span id="{{ month.name }} 2023" class="monthcontent">
                            <form action="#">
                                <ul class="month-list">
                                    <li>
                                        <input type="radio" id="1">
                                        <label for="1">1st</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="2">
                                        <label for="2">2nd</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="3">
                                        <label for="3">3rd</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="4">
                                        <label for="4">4th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="5">
                                        <label for="5">5th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="6">
                                        <label for="6">6th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="7">
                                        <label for="7">7th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="8">
                                        <label for="8">8th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="9">
                                        <label for="9">9th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="10">
                                        <label for="10">10th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="11">
                                        <label for="11">11th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="12">
                                        <label for="12">12th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="13">
                                        <label for="13">13th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="14">
                                        <label for="14">14th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="15">
                                        <label for="15">15th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="16">
                                        <label for="16">16th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="17">
                                        <label for="17">17th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="18">
                                        <label for="18">18th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="19">
                                        <label for="19">19th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="20">
                                        <label for="20">20th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="21">
                                        <label for="21">21st</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="22">
                                        <label for="22">22th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="23">
                                        <label for="23">23th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="24">
                                        <label for="24">24th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="25">
                                        <label for="25">25th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="26">
                                        <label for="27">27th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="27">
                                        <label for="20">20th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="28">
                                        <label for="28">28th</label>
                                    </li>
                                </ul>
                            </form>
                        </span>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div id="2024" class="yearcontent">
                        {% for month in tour.dates.all %}
                        <button class="monthlinks px-auto btn btn-lg"
                            onclick="openMonth(event, '{{ month.name }} 2024')">{{ month.name }}</button>
                        {% endfor %}
                        {% for month in tour.dates.all %}
                        {% if month.name == 'Jan' or month.name == 'Mar' or month.name == 'May' or month.name == 'Jul' or month.name == 'Aug' or month.name == 'Oct' or month.name == 'Dec' %}
                        <span id="{{ month.name }} 2024" class="monthcontent">
                            <form action="#">
                                <ul class="month-list">
                                    <li>
                                        <input type="radio" id="1">
                                        <label for="1">1st</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="2">
                                        <label for="2">2nd</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="3">
                                        <label for="3">3rd</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="4">
                                        <label for="4">4th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="5">
                                        <label for="5">5th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="6">
                                        <label for="6">6th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="7">
                                        <label for="7">7th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="8">
                                        <label for="8">8th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="9">
                                        <label for="9">9th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="10">
                                        <label for="10">10th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="11">
                                        <label for="11">11th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="12">
                                        <label for="12">12th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="13">
                                        <label for="13">13th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="14">
                                        <label for="14">14th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="15">
                                        <label for="15">15th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="16">
                                        <label for="16">16th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="17">
                                        <label for="17">17th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="18">
                                        <label for="18">18th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="19">
                                        <label for="19">19th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="20">
                                        <label for="20">20th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="21">
                                        <label for="21">21st</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="22">
                                        <label for="22">22th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="23">
                                        <label for="23">23th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="24">
                                        <label for="24">24th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="25">
                                        <label for="25">25th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="26">
                                        <label for="27">27th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="27">
                                        <label for="20">20th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="28">
                                        <label for="28">28th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="29">
                                        <label for="29">29th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="30">
                                        <label for="30">30th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="31">
                                        <label for="31">31st</label>
                                    </li>
                                </ul>
                            </form>
                        </span>
                        {% elif month.name == 'Apr' or month.name == 'Jun' or month.name == 'Sep' or month.name == 'Nov' %}
                        <span id="{{ month.name }} 2024" class="monthcontent">
                            <form action="#">
                                <ul class="month-list">
                                    <li>
                                        <input type="radio" id="1">
                                        <label for="1">1st</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="2">
                                        <label for="2">2nd</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="3">
                                        <label for="3">3rd</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="4">
                                        <label for="4">4th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="5">
                                        <label for="5">5th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="6">
                                        <label for="6">6th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="7">
                                        <label for="7">7th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="8">
                                        <label for="8">8th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="9">
                                        <label for="9">9th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="10">
                                        <label for="10">10th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="11">
                                        <label for="11">11th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="12">
                                        <label for="12">12th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="13">
                                        <label for="13">13th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="14">
                                        <label for="14">14th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="15">
                                        <label for="15">15th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="16">
                                        <label for="16">16th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="17">
                                        <label for="17">17th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="18">
                                        <label for="18">18th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="19">
                                        <label for="19">19th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="20">
                                        <label for="20">20th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="21">
                                        <label for="21">21st</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="22">
                                        <label for="22">22th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="23">
                                        <label for="23">23th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="24">
                                        <label for="24">24th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="25">
                                        <label for="25">25th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="26">
                                        <label for="27">27th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="27">
                                        <label for="20">20th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="28">
                                        <label for="28">28th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="29">
                                        <label for="29">29th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="30">
                                        <label for="30">30th</label>
                                    </li>
                                </ul>
                            </form>
                        </span>
                        {% elif month.name == 'Feb' %}
                        <span id="{{ month.name }} 2024" class="monthcontent">
                            <form action="#">
                                <ul class="month-list">
                                    <li>
                                        <input type="radio" id="1">
                                        <label for="1">1st</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="2">
                                        <label for="2">2nd</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="3">
                                        <label for="3">3rd</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="4">
                                        <label for="4">4th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="5">
                                        <label for="5">5th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="6">
                                        <label for="6">6th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="7">
                                        <label for="7">7th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="8">
                                        <label for="8">8th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="9">
                                        <label for="9">9th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="10">
                                        <label for="10">10th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="11">
                                        <label for="11">11th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="12">
                                        <label for="12">12th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="13">
                                        <label for="13">13th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="14">
                                        <label for="14">14th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="15">
                                        <label for="15">15th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="16">
                                        <label for="16">16th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="17">
                                        <label for="17">17th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="18">
                                        <label for="18">18th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="19">
                                        <label for="19">19th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="20">
                                        <label for="20">20th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="21">
                                        <label for="21">21st</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="22">
                                        <label for="22">22th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="23">
                                        <label for="23">23th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="24">
                                        <label for="24">24th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="25">
                                        <label for="25">25th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="26">
                                        <label for="27">27th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="27">
                                        <label for="20">20th</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="28">
                                        <label for="28">28th</label>
                                    </li>
                                </ul>
                            </form>
                        </span>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-5 px-0 mx-0">
        <div class="col"></div>
    </div>
    <div class="row fixed-bottom tour-footer p-2 align-items-center text-center d-md-none">
        <div class="col-6">From <strong>${{ tour.price }}</strong></div>
        <div class="col-6">
            <a class="btn tour-btn" href="#">View Dates</a>
        </div>
    </div>
</div>

{% endblock %}

{% block postload_js %}
<script src="../../../static/js/tour_tabs.js" type="text/javascript"></script>
{% endblock %}