{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col tour-list-img">
            <div class="row centered justify-content-center w-100 text-white m-auto p-auto">
                <div class="col-9 col-md-5">
                    <h1 class="px-auto text-center overlay py-2">Find your tour</h1>
                </div>
            </div>
        </div>
    </div>

    <!--Sort box html taken from CI Boutique Ado-->
    <div class="row m-1 justify-content-center">
        <div class="row my-1 px-0">
            <div class="col-4 my-auto d-block px-0">
                <!-- <div class="w-50"> -->
                <select id="sort-selector" class="sort-dropdown text-center">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to
                        high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high
                        to low)</option>
                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low
                        to high)</option>
                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating
                        (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
                    </option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
                    </option>
                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category
                        (A-Z)</option>
                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                        Category (Z-A)</option>
                </select>
                <!-- </div> -->
            </div>
        </div>
        {% for tour in tours %}
        <div class="col-sm-12 col-md-5 col-lg-3 tour-list my-1 mx-md-1">
            <div class="row">
                <div class="col m-0 p-0">
                    {% if tour.image %}
                    <a href="{% url 'tour_detail' tour.id %}">
                        <img class="tour-thumbnail-img" src="/media/{{ tour.image }}" alt="{{ tour.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'tour_detail' tour.id %}">
                        <img class="tour-thumbnail-img" src="/media/noimage.png" alt="placeholder image">
                    </a>
                    {% endif %}

                </div>
            </div>
            <div class="row my-1 justify-content-center">
                <div class="col-6">Rating</div>
                <div class="col-6">Category</div>
            </div>
            <div class="row my-1">
                <div class="col-11">
                    <h3>{{ tour.friendly_name }}</h3>
                </div>
            </div>
            <div class="row my-1">
                <div class="col-11 d-none d-lg-block">{{ tour.description }}</div>
            </div>
            <div class="row">
                <div class="col-11">
                    <i class="fa-solid fa-calendar-days"></i> {{ tour.length_of_tour }} days
                </div>
            </div>
            <div class="row">
                <div class="col-11"><i class="fa-solid fa-earth-africa"></i> {% if tour.choose_location %}
                    Tour available in{% else %} Tour will visit {% endif %}
                    {% for location in tour.locations.all %}{{ location.friendly_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row my-3 align-items-center">
                <div class="col-6 text-start">
                    <h5>From ${{ tour.price }}</h5>
                </div>
                <div class="col-6 align-items-center">
                    <a class="btn btn-lg tour-btn" href="{% url 'tour_detail' tour.id %}">View Tour</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    {% endblock %}

    {% block postload_js %}
    {{ block.super }}
    <script src="../../../static/js/sort.js" type="text/javascript"></script>
    {% endblock %}