{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col mt-5">
            <ul>
                <div>{{ tour.image }}</div>
                <li>{{ tour.friendly_name }}</li>
                <li>{{ tour.description }}</li>
                <li>${{ tour.price }}</li>
                <li>{{ tour.length_of_tour }} days</li>
                <li>Locations available:
                    {% for location in tour.locations.all %}
                    <ul>
                        <li>{{ location.friendly_name }}</li>
                    </ul>
                    {% endfor %}
                </li>
                <br>
            </ul>
        </div>
    </div>
</div>

{% endblock %}