{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block extra_content %}
{% if process == "connect" %}

<div class="row">
  <div class="col-12">
    <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from
      {{ provider }}.{% endblocktrans %}</p>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-12">
    <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

    <hr>

  </div>
</div>
<div class="row">
  <div class="col">
    <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from
      {{ provider }}.{% endblocktrans %}</p>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-4">

    <form method="post">
      {% csrf_token %}
      <button class="btn btn-checkout border-rounded" type="submit">{% trans "Continue" %}</button>
    </form>
  </div>
</div>
    {% endblock %}